

.product-container {
    display: flex;
    gap: 26px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  
  .product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    border-radius: 8px;
    height: 150px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
    object-fit: contain;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .product-card p {
    color: #555;
    margin: 7px 0;
  }
  
  .product-card button {
    background: #f99f03;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.5s;
    padding: 10px;
    width: 100%;
  }
  
  .product-card button:hover {
    background: #cc8304;
  }
  